<h1>Temperaturer</h1>
    <div ng-repeat="(group, value) in groups">
        <h3>{{group}}</h3>
        <table class="table table-striped table-bordered">
            <tr ng-repeat="sample in samples" ng-if="sample.groupNice == group && !sample.old">
                <td style="width:70%"><a href="#/graph/{{sample.name}}">{{sample.realName}}</a></td>
                <td>
                    <div ng-if="sample.type == 'TEMPERATURE'">{{sample.roundedValue}}°</div>
                    <div ng-if="sample.type == 'BAROMETRIC'">{{sample.roundedValue}} hPa</div>
                </td>
            </tr>
        </table>
    </div>